// Minimal css grid system generation

@mixin make-grid-system($columns: $cssgrid-columns, $gap: $cssgrid-gap, $breakpoints: $grid-breakpoints, $max-col-span: $cssgrid-max-col-span, $max-row-span: $cssgrid-max-row-span, $row-height: $css-grid-row-height) {
  [class*="grid-"] {
    display: grid;
    grid-gap: $gap;
  }

  [class*="grid-"].no-gutters {
    grid-gap: 0;
  }

  .grid-square {
    grid-auto-rows: $row-height;
  }

  .grid-square > [style*="--aspect-ratio"] {
    position: relative;
    width: 100%;
  }

  .grid-square > [style*="--aspect-ratio"]:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  .grid-square > [style*="--aspect-ratio"] > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @include media-breakpoint-up($breakpoint, $breakpoints) {

      @for $col from 1 through $columns {
        .grid#{$infix}-#{$col} {
          grid-template-columns: repeat($col#{','} 1fr);
        }

        @for $colspan from 1 through $max-col-span {
          @for $rowspan from 1 through $max-row-span {
            .grid#{$infix}-#{$col} > [style*="--aspect-ratio: #{$colspan}/#{$rowspan}"] {
              $max_colspan: $colspan;
              $max_rowspan: $rowspan;
              @if $colspan > $col {
                $max_colspan: $col;
                $max_rowspan: max(round($rowspan * $col / $colspan), 1);
                @if $rowspan >= $colspan {
                  $max_rowspan: $max_rowspan + 1;
                }
              }
              grid-column: span $max_colspan;
              grid-row: span $max_rowspan;
            }
          }
        }
      }
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @include media-breakpoint-up($breakpoint, $breakpoints) {

      .grid#{$infix}-flow-r {
        grid-auto-flow: row;
      }

      .grid#{$infix}-flow-c {
        grid-auto-flow: column;
      }

      .grid#{$infix}-flow-d {
        grid-auto-flow: dense;
      }

      .grid#{$infix}-flow-cd {
        grid-auto-flow: column dense;
      }

      .grid#{$infix}-flow-rd {
        grid-auto-flow: row dense;
      }

    }
  }
}